.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.icon {
  margin: 30px;
  width: 60px;
  height: 80px;
}

.nameIcon {
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: 480px) {
  .iconContainer {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .iconContainer {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .iconContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    justify-content: center;
  }
  .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 60px;
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .iconContainer {
    width: 100%;
  }
  .icon {
    width: 100px;
  }
}
